

.mt-150 {
	margin-top: 150px;
}

.c-section {
	.container {
		.row {
			.contact-header > {
				h1 {
					font-size: 200px;
					margin: 200px 0 100px 0;
					text-transform: capitalize;
				}
			}
		}
	}

	.container-full {
	    margin: 40px 0 100px 0;
		.row {
			div {
				float: left;
			}
			> div:first-child {
				width: 562px;
				img {
					position: relative;
					left: -240px;
					margin-top: 10px;
				}
			}
			> div:last-child {
				width: 700px;
				p {
					font-family: 'Montserrat';
					font-size: 30px;
					color: #3c3950;
				    margin-bottom: 0;
				    line-height: 40px;
				}
			}
			> div::after {
				display: block;
				content: " ";
				clear: both;
			}
		}
	}

	.container-map {
		.row {
			iframe {
				height: 700px !important;
			}
		}
	}

	.container {
		.row.contact-info {
			> h2 {
				font-size: 80px;
				margin-bottom: 50px;
				text-transform: capitalize;
			}
		}
	}

	.container-full-2 {
	    margin: 40px 0 70px 0;
		.row {
			div {
				float: left;
			}
			> div:first-child {
				width: 375px;
				img {
					position: relative;
					left: -420px;
					margin-top: 10px;
				}
			}
			> div:last-child {
				width: 985px;
				p {
					font-family: 'Montserrat';
					font-size: 24px;
					color: #3c3950;
				    margin-bottom: 0;
				    line-height: 40px;
				}
			}
			> div::after {
				display: block;
				content: " ";
				clear: both;
			}
		}
	}

	.container {
		.row.contact-details {
			margin-top: 100px;
			.col-3 {
				width: 33.333%;
				float: left;
			    text-align: center;
				p.label {
					font-size: 18px;
					font-weight: bold;
					color: #3c3950;
				}
				p.info {
					font-size: 16px;
					color: #ababab;
				}
			}
			.col-3::after {
				display: block;
				content: " ";
				clear: both;
			}
		}
	}

	.container {
		.row.contact-form {
		    // margin-top: 150px;
			> h2 {
				font-size: 80px;
				margin-bottom: 50px;
				text-transform: capitalize;
			}
			> div {
				margin-top: 50px;
				form {
					.col-sm-4 > span > input {
					    border-color: #3c3950;
					}
					.col-sm-12 {
					    margin-top: 50px;
						> span > textarea {
							border-color: #3c3950;
						}
					}
					p {
						padding-left: 21px;
						> input {
							width: 200px;
							background-color: #dab26d;
							margin-top: 50px;
							border: 1px solid #dab26d;
						}

						> input:hover {
							background-color: rgb(255, 255, 255);
							color: #dab26d;
						}
					}
				}
			}
		}
	}

	.container-full-3 {
	    margin: 40px 0 70px 0;
		.row {
			div {
				float: left;
			}
			> div:first-child {
				width: 375px;
				img {
					position: relative;
					left: -420px;
					margin-top: 10px;
				}
			}
			> div:last-child {
				width: 985px;
				p {
					font-family: 'Montserrat';
					font-size: 24px;
					color: #3c3950;
				    margin-bottom: 0;
				    line-height: 40px;
				}
			}
			> div::after {
				display: block;
				content: " ";
				clear: both;
			}
		}
	}
}